@using MyOrderCart.BlazorUI.Services
@inject CartService CartService
@inject NavigationManager NavManager
@implements IDisposable

<button class="btn btn-outline-primary position-relative" @onclick="NavigateToCart">
    🛒 Cart
    @if (CartService.Items.Any())
    {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @CartService.Items.Sum(i => i.Quantity)
        </span>
    }
</button>

@code {

    private void NavigateToCart()
    {
        NavManager.NavigateTo("/cart");
    }

    protected override void OnInitialized()
    {
        CartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
    }

}